<div class="tabs-panel <%= active %>" id="<%= tab %>" >
  <fieldset>
    <table>
      <tr class="requeriment">
        <th class="text-left requeriment-code"> <%= t('activerecord.models.requeriment.code') %> </th>
        <th class="text-left requeriment-description"> <%= t('activerecord.models.requeriment.description') %> </th>
        <th class="text-left requeriment"> <%= t('activerecord.models.requeriment.observance') %> </th>
        <th class="text-left requeriment"> <%= t('activerecord.models.requeriment.revised') %> </th>
        <% if action_name == 'show' %>
         <th class="text-left requeriment-description"> <%= t('activerecord.models.requeriment.update_data') %></th>
        <% end %>
      </tr>
      <% if action_name == 'mark_requeriment' %>
        <tr>
          <th class="text-left" colspan="2"></th>
          <th class="text-left requeriment "> <%= "No/Si/No procede"%> </th>
          <th class="text-left requeriment "> <%= "No/Si/No procede"%> </th>
        </tr>
      <% end %>
      <% if action_name == 'mark_requeriment' %>
        <%= f.fields_for :proposal_requeriments, proposal_requeriments(proposal, kind) do |builder| %>
          <%= render 'proposal_requeriment_fields', builder: builder , kind: kind%>
        <% end %>
      <% else %>
          <% proposal_requeriments(proposal, kind).each do |pr|%>
            <tr>
              <th> <%= pr.requeriment.full_code %></th>
              <td> <%= pr.requeriment.description %> </td>
              <td class= "text-center">
                <%= show_requeriment_check(pr.initial_check) %>
              </td>
              <td class= "text-center">
                <%= show_requeriment_check(pr.revised_check) %>
              </td>
              <td> <%= pr.updated_by %> - <%= show_simple_date(pr.updated_at) %> </td>
            </tr>
          <% end %>
      <% end %>
    </table>
  </fieldset>
</div>

